#side-navigation {
    // background-color: #000;

    nav {
        padding-top: 24px;



        a {
            font-size: 12px;
            line-height: 20px;
            letter-spacing: .015em;
            display: inline;


            img {
                max-width: 135px;
            }
        }


        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid rgba(204, 204, 204, 0.5);
            margin: 1em 0;
            padding: 0;
        }

        .searchBtn {
            margin-left: 16px;
        }

        svg {
            cursor: pointer !important;

        }

        .search-field {
            width: 12%;
            margin: 10px 0;
            border-radius: 20px;
            border: 0;
            padding-left: 10px;

        }
    }
}