#section-media {
    padding: 0 32px;
    margin: 0 auto;
    height: 100%;

    background-image: linear-gradient(to right bottom,
            rgb(18, 18, 18),
            rgb(0, 0, 0)),
        linear-gradient(transparent,
            rgb(0, 0, 0) 70%);
    background-image: linear-gradient(to right bottom,
            rgba(77, 1, 9, 0.726),
            rgb(0, 0, 0)),
        linear-gradient(transparent,
            rgb(0, 0, 0) 70%);

    .nav-main {
        margin: 0 auto;

        a {
            color: rgb(148, 147, 147) !important;
            text-decoration: none !important;
        }

        a:hover {
            color: rgb(255, 255, 255) !important;
            border-bottom: 2px solid #1ed760;
            transition: all ease-in;
        }

        #active-item {
            color: #fff !important;
        }
    }

    h1 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -.005em;
        text-transform: none;
        margin: 24px 0;
    }

    .playMe {
        cursor: pointer;
        font-size: 20px;
        padding: 0 10px;

    }

    .playMe:hover {
        border-radius: 20px;
        background: greenyellow;
        color: #000;
    }

    audio {
        width: 100%;
    }


}